<html>
    <head>
        {% if title %}
        <title>{{ title }} - Screamsocial</title>
        {% else %}
        <title> Screamsocial </title>
        {% endif %}
        {% block headcontent %}

        {% endblock headcontent %}
    </head>
    <body>
        <div>Screamsocial: <a href="/">Home</a>
            <a href="/lobby">Lobby</a>
        {% if current_user.is_authenticated %}
        Logged in as {{current_user.username}}
        {% endif %}
        </div>
        <hr>
        {% block content %}
        
        {% endblock content %}
    </body>
</html>