
{% extends "base.html" %}

{% block content %}

<h1>Lobby (:</h1>
<hr>

<form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{form.room.label}}
        {{form.room(cols=32, rows=1)}}
        {% for error in form.room.errors %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>

    <div>
    <h3>Your rooms</h3>
    {% for room in my_rooms %}
    <p>
        <a href="/chat/{{ room.name }}">{{ room.name }}</a> by <em>you</em>.
        <a href="/chat/{{ room.name }}/close">Close room</a>
    </p>
    {% endfor %}
    </div>



    <div>
    <h3>Other rooms</h3>
    {% for room in other_rooms %}
    <p>
        <a href="/chat/{{ room.name }}">{{ room.name }}</a> by {{ room.owner_name }}.
    </p>
    {% endfor %}
    </div>
</form>



{% endblock%}