
{% extends "base.html" %}

{% block content %}

<h1>Lobby (:</h1>
<hr>

<form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{form.room.label}}
        {{form.room(cols=32, rows=1)}}
        {% for error in form.room.errors %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
    {% for room in rooms %}
    <p>
        <a href="/chat/{{ room.name }}">{{ room.name }}</a> by {{ room.owner_name }}
    </p>
    {% endfor %}
</form>



{% endblock%}